<div class="row mw-full align-items-center justify-content-center">
    <div class="col-10 col-md-8 flex-column mt-20 py-20 px-20">
        <object id="not-found-svg" class="mw-full" type="image/svg+xml" data="/404.svg">
            <img id="" src="/404.svg" alt="Page not found illustration" />
        </object>
        <h3>We couldnt find the page you were looking for. Pleasew head over to the home page to look for your URL.</h3>
        <button class="btn btn-primary" type="button" onclick="window.location.href = `https://${window.location.host}/`">Go home</button>
    </div>
</div>